/* Code written by Daniel Ignatov */
/* ** http://danielignatov.com ** */

body {
    /* Background */
    background: #d6fff2; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#d6fff2, #99ffe0, #80eeee); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#d6fff2, #99ffe0, #80eeee); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#d6fff2, #99ffe0, #80eeee); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#d6fff2, #99ffe0, #80eeee); /* Standard syntax */
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, "lucida Sans Unicode";
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
    color: #80eeee;
}

a:link, a:visited {
    text-decoration: none;
    color: #80eeee;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.main-header img {
    width: 30%;
    height: auto;
    margin: 2% 0;
}

.main-header nav {
    background-color: #52a4ff;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-header nav ul {
    list-style: none;
    margin: 0 auto;
}

.main-header nav ul li {
    display: inline;
}

.main-header nav a:link, .main-header nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}

.main-header nav a:hover, .main-header nav a:active, .main-header nav .active a:link, .main-header nav .active a:visited {
    background-color: #80eeee;
    text-shadow: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.main-content {
    line-height: 25px;
}

.content {    
    width: 70%;
    float: left;
}

.article-content {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.article-header h2 {
    text-shadow: 1px 1px #999;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
    text-shadow: 1px 1px #fff;
}

.sidebar {
    width: 22%;
    float: left;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 1.5%;
    margin-left: 2%;
    padding: 2% 3%;
}

.main-footer {
    width: 100%;
    float: left;
    background-color: #52a4ff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    margin-top: 2%;
    margin-bottom: 0;
}

.main-footer p {
    color: #fff;
    width: 92%;
    margin: 2% auto;
}

/* For screens width 150px to 720px */
@media only screen and (min-width: 150px) and (max-width: 720px) {
    .wrapper {
        width: 90%;
        font-size: 95%;
    }

    .main-header img {
        width: 100%;
    }

    .main-header nav {
        height: 160px;
    }

    .main-header nav ul {
        padding-left: 0;
    }

    .main-header nav ul li {
        width: 100%;
        text-align: center;

    }

    .main-header nav a:link, .main-header nav a:visited {
        padding: 10px 20px;
        height: 20px;
        display: block;
    }

    .content {    
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .post-info {
        display: none;
    }

    .sidebar {
        width: 94%;
        margin-top: 2%;
        margin-left: 0;
        padding: 2% 3%;
    }
}